@page
@model CompetenceManagementSystem.Web.Pages.Employees.DeleteModel

@{
    ViewData["Title"] = "Удаление";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Удаление</h1>

<h3>Вы уверены что хотите удалить запись?</h3>
<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.LastModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.LastModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.LastModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.LastModified)
        </dd>
    </dl>

    <h5>@Html.DisplayNameFor(model => model.Data.Competences)</h5>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Data.Competences[0].Competence)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data.Competences[0].Level)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data.Competences)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Competence)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form method="post">
        <input type="hidden" asp-for="Data.Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к списку</a>
    </form>
</div>
