@page
@model CompetenceManagementSystem.Web.Pages.CompetenceCategories.IndexModel

@{
    ViewData["Title"] = "Список";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Категории компетенций</h1>

<p>
    <a asp-page="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data.CompetenceCategories[0].Name)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data.CompetenceCategories) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
