@page
@model CompetenceManagementSystem.Web.Pages.Competences.DetailsModel

@{
    ViewData["Title"] = "Подробности";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Подробности</h1>

<div>
    <h4>Компетенция</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.CompetenceCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.CompetenceCategory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.LastModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.LastModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.LastModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.LastModified)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Data.Id">Изменить</a> |
    <a asp-page="./Index">Вернуться к списку</a>
</div>
