@page
@model CompetenceManagementSystem.Web.Pages.Competences.CompetenceResources.DetailsModel

@{
    ViewData["Title"] = "Подробности";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <h1>Подробности</h1>

<div>
    <h4>Ресурс для овладения компетенцией</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.CompetenceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.CompetenceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.ResourceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.ResourceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.LastModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.LastModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.LastModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.LastModified)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-competenceId="@Model.Data.CompetenceId" asp-route-resourceId="@Model.Data.ResourceId">Изменить</a> |
    <a asp-page="../Details" asp-route-id="@Model.Data.CompetenceId">Вернуться к компетенции</a>
</div>
